<p>Hi <%= @passenger.name %></p>

<p>You have a new booked flight from <%= @from %> to <%= @to %></p>

<p>Thank you for using Flight Booker!
Visit <%= link_to "Flight Booker", root_url %> to book your next flight!</p>